/**
 * @ Author: Rongxis
 * @ Create Time: 2023-01-08 01:36:05
 * @ Modified by: Rongxis
 * @ Modified time: 2023-03-07 23:39:31
 * @ Description:
 */
// 禁止文本选中
// * {
//   -moz-user-select: none;
//   -webkit-user-select: none;
//   user-select: none;
// }

button {
  outline: none;
}

div.el-input.is-disabled input.el-input__inner {
  background-color: #1F2024 !important;
  border-color: #797A7C !important;
  color: #797A7C !important;
}

// 大功能模块的按钮样式
.class-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  svg {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }
  span {
    width: 100%;
    font-size: .9rem;
  }
  button {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D1D1D2;
    border: none;
    cursor: pointer;
    &:hover {
      color: #0091FF;
    }
  }
}

// element-plus table 的样式主题
div.el-table {
  &::before {
    background-color: $dark;
  }
  border-spacing: 0;
  background-color: $dark;
  width: 100%;
  div.el-table__header-wrapper {
    table.el-table__header {
      thead {
        tr th {
          border-bottom: 0;
          background-color: $dark;
          color: $defaultTextColor;
        }
      }
    }
  }
  div.el-table__body-wrapper {
    table.el-table__body {
      tbody {
        tr {
          td {
            border-bottom: 0;
            background-color: $dark;
            color: $defaultTextColor;
          }
          &:hover {
            td {
              background-color: lighten($dark, 10%);
            }
          }
        }
      }
    }
  }
}

/**==========================下拉框样式 start======================*/
$input_border_color: #494949;
$input_background_color: #242528;
$input_height: 32px;

.common_dark_theme_select_color {
  background: $input_background_color;
  border: 1px solid $input_border_color;
  color: $defaultTextColor;
}

.common_dark_theme_select_height {
  height: $input_height;
  line-height: $input_height;
}

// 输入框样式，包括hover样式
div.el-input.el-input--medium,
div.el-select {
  input.el-input__inner {
    @extend .common_dark_theme_select_color;
    @extend .common_dark_theme_select_height;
    &:hover {
      border: 1px solid $input_border_color;
      background-color: lighten($input_background_color, 10%);
    }
  }
}

// 输入框的高度调整
div.el-select,div.el-input {
  @extend .common_dark_theme_select_height;
  .el-input__icon {
    @extend .common_dark_theme_select_height;
  }
}

// 输入框 hover 之后，边框保持不变
div.el-select div.el-input.is-focus input.el-input__inner {
  border: 1px solid $input_border_color;
}

// 下拉框样式调整
div.el-select__popper.el-popper[role=tooltip] {
  @extend .common_dark_theme_select_color;
}

// 下拉框的箭头样式调整
.el-popper__arrow::before {
  border-top-color: $input_border_color !important;
  border-left-color: $input_border_color !important;
  background: $input_background_color !important;
}

// 下拉框 hover 样式调整
li.el-select-dropdown__item {
  color: $defaultTextColor;
  &:hover {
    background-color: lighten($color: $input_background_color, $amount: 20%);
  }
}

/**========================== 下拉框样式调整 end ======================*/

/**========================== checkbox样式调整 start ======================*/
.el-checkbox__input.is-checked+span.el-checkbox__label {
  color: $defaultTextColor;
}
/**========================== checkbox样式调整 end ======================*/
