/**
 * @ Author: Rongxis
 * @ Create Time: 2023-01-11 22:19:25
 * @ Modified by: Rongxis
 * @ Modified time: 2023-01-12 23:18:55
 * @ Description:
 */

.km-vex-table {
  // table背景色修改
  div.vxe-table--body-wrapper {
    table.vxe-table--body {
      tbody {
        tr {
          td {
            border-bottom: 0;
            background-color: $dark;
            color: $defaultTextColor;
            padding: 8px 0;
          }
          &:hover {
            td.vxe-body--column {
              background-color: lighten($dark, 10%);
            }
          }
        }
        tr.row--stripe {
          td {
            background-color: lighten($dark, 5%);
          }
        }
      }
    }
  }
}

// checkbox 的边框变细
.vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon {
  font-weight: 400;
}
